# .env.example
# Cambia estos valores en tu servidor de producción

# Seguridad
SECRET_KEY=django-insecure-replace-this-in-production
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,tu-dominio.com

# Base de datos PostgreSQL (Descomentar en producción)
# DATABASE_URL=postgres://usuario:contraseña@localhost:5432/voz_ciencia

# Si no hay DATABASE_URL, Django usará db.sqlite3 por defecto para desarrollo local

# Seguridad de Cookies y SSL
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
